<%-include("top_page.ejs")%>
<link rel="stylesheet" href="/css/my_ride.css">
    <script src="https://momentjs.com/downloads/moment.js"></script>
<title>My ride</title>
</head>

<body onload="init()">
<header>
    <span id="exitTime" class="topBar" onclick="updateExitTime()"></span>
    <span id="logo" class="topBar">? מי בטרמפ</span>
    <span class="topBar" id="datetime"></span>
</header>
<main>
    <div id="frontCar">
        <span class="person" id="driver" onclick="addDriver(this)">נהג/ת</span>
        <span class="person" id="passenger1" onclick="addName(this)"
        >הוספת נוסע/ת</span
        >
    </div>
    <div id="backCar">
        <span class="person" id="passenger2" onclick="addName(this)"
        >הוספת נוסע/ת</span
        >
        <span class="person" id="passenger3" onclick="addName(this)"
        >הוספת נוסע/ת</span
        >
        <span class="person" id="passenger4" onclick="addName(this)"
        >הוספת נוסע/ת</span
        >
    </div>

</main>
<script src="/js/mt_ride_script.js"></script>
<%-include("bottom_page.ejs")%>
